:root {
  --a1-color: #182e38;
  --a2-color: #7dc1b6;
  --a3-color: #ff1e5a;
  --a4-color: #eff9f3;
  --a5-color: #f3ffbd;
  --a6-color: #164e66;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}
